<h1>Jeu des Allumettes !</h1>

<h2> Score : {{ utilisateur.nom }} {{ utilisateur.partiesGagnees }} - {{ ia.nom }} {{ ia.partiesGagnees }}</h2>

<!--affichage des allumettes -->
<i *ngFor="let rating of allumettes">
    <img src="/assets/images/allumette.jpeg"/>
</i>

<!-- Choix du nombre d'allumettes à prendre -->
<p>Combien d'allumettes souhaitez-vous retirer ?</p>
<i *ngFor="let n of [1,2,3]">
    <input type="button" value=" {{ n }} " (click)="humainJoue(n)"/>
</i>

<div class="log" [innerHTML]="logHTML"></div>